@import "tailwindcss";
/*@tailwind base;
/*@tailwind components;*/
@tailwind utilities;

@theme {
  --color-tupaGold: #D4AF37;
  --color-tupaBlack: #050505;
  --color-tupaOffWhite: #EAEAEA;
  --color-tupaSilver: #A8A9AD;
  --color-tupaGrey: #1A1A1A;
  --color-tupaWood: #5D4037;
/* Cores das famílias */
  --color-tupaMarrom: #5D4037;    /* Kunumi */
  --color-tupaBege: #D7CCC8;      /* Guitarra */
  --color-tupaVerdeMusgo: #556B2F; /* Baixo */
  --color-tupaDourado: #D4AF37;   /* Destaques gerais */
}

@layer base {
  body {
    background-color: var(--color-tupaBlack);
    color: var(--color-tupaOffWhite);
    min-height: 100vh;
  }
}